asgiref==3.3.1
Django==3.1.5
pytz==2020.5
sqlparse==0.4.1
dj-database-url==0.5.0
dj-static==0.0.6
django-toolbelt==0.0.1
django-allauth==0.44.0
google-api-python-client==1.12.8
google-auth==1.24.0
google-auth-oauthlib==0.4.2
google-auth-httplib2==0.0.4
requests==2.25.1
