<!DOCTYPE html>
{% load static %}
{% load socialaccount %}
<html lang="en" class="cye-disabled cye-nm">
<!--
  So, you are curious about my code, mh?
  Enjoy your job.
  @xdanielsb
-->

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Schedme</title>
  <meta name="description" content="description" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <link rel="stylesheet" href="{% static 'students/css/animate-custom.css' %}" type="text/css" media="screen" />
  <link rel="stylesheet" href="{% static 'students/css/style.css' %}" type="text/css" media="screen" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<body class="person-jumping">
  <a id="forkMe" href="https://github.com/xdanielsb/schedme">Fork me on GitHub</a>
  <header style="height: 100vh">
    <div class="div-main">
      <div class="animated fadeIn"></div>
      <img class="iconxd first animated delay1 bounceInDown" src="{% static 'students/img/piano.png' %}" width="80px" height="80px" />
      <img class="iconxd second animated delay2 bounceInDown" src="{% static 'students/img/brush.png' %}"  width="80px" height="80px" />
      <img class="iconxd third animated delay3 bounceInDown"  src="{% static 'students/img/dance.png' %}" width="80px" height="80px" />
      <img class="iconxd last animated delay4 bounceInDown" src="{% static 'students/img/microphone.png' %}" width="80px" height="80px" />
      <div class="container">
        <div class="row-fluid">
          <div class="span7 main-box animated delay5 flipInX">
            <h3 class="nm text-center">
              Schedme
            </h3>
            <div class="cont">
              {% if user.is_authenticated %}
                <div class="text-center">
                  <p>Welcome, {{ user.username }} !</p><br>
                  <a href="/students/" class="btn btn-light" > Keep going ! </a>
                </div>
              {% else %}
              <p class="text-center">
                Wasting<strong> your time</strong>?
                Reconnect with you.
                Tell us your hobbies and your free time and we
                make a plan, specially made for you.
              </p>
              <div class="row">
                <div class="text-center">
                  <div class="col-md-12"> <a class="btn btn-light btn-google btn-block text-uppercase btn-outline" href="{% provider_login_url 'google' %}"><img src="https://img.icons8.com/color/16/000000/google-logo.png"> Signup Using Google</a> </div>
                </div>
              </div> <br>
              <p class="text-inverse text-center">Already have an account? <a href="/admin/" data-abc="true">Login</a></p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</body>

</html>
